.container {
    padding: 1.1rem;
}

.inputRow {
    display: flex;
    gap: 8px;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 13px;
    overflow: hidden;
    background-color: #fff;
}

.input {
    flex: 1;
    font-size: 14px;
    padding: 6px 10px;
    height: 3rem;
    border: none;
    outline: none;
}

.resetBtn {
    border: none;
    background: none;
    color: #AAAAAA;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.2;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    padding: 0.5rem;
}

.btn {
    border: none;
    background-color: #fff;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 4px;
}

.Instruction {
    font-size: 11px;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
    color: #4e4e4e;
}

.includeBox {
    margin-bottom: 24px;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.secondTitle {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    margin-top: 1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.keywordRow {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chip {
    background-color: #ffffff;
    color: #878787;
    font-size: 13px;
    border: 1px solid #AAAAAA;
    border-radius: 16px;
    padding: 4px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.chipDeleteIcon {
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}