.layout_container {
  position: relative;
}

.header_wrapper {
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.main_wrapper {
  position: relative;
  width: 100%;
  min-height: 0;
}
.main_scroll {
  width: 100%;
  min-height: 0;
}

.main_fixed {
  width: 100%;
  min-height: 0;
}

.bottom_nav_wrapper {
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: white;
}
