.calendar_sun_to_mon {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #d9d9d9;
  text-align: center;     
}

.event_item {
    background: none;
    font-size: clamp(0.75rem, 2.5vw, 1.3rem);
}