.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overscroll-behavior: contain;
  overflow: auto;
  height: 100%;
  min-height: 0;
}

.loading,
.no_notice {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: #555;
}
