.bottomnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: clamp(3.5rem, 7vw, 5rem);

    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background: #fff;
  border: 0.5px solid #CDCDCD;
  border-radius: 15px 15px 0 0;
}

.bottomnav_home,
.bottomnav_bookmark,
.bottomnav_alarm,
.bottomnav_calendar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width:clamp(2rem, 5vw, 4rem);
}

.bottomnav_home_text,
.bottomnav_bookmark_text,
.bottomnav_alarm_text,
.bottomnav_calendar_text {
    color: #A1A1A1;
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    position: absolute;
    align-items: center;
    bottom: 0;
    padding: 0.1rem 0rem 0.3rem 0rem;
}

.bottomnav_home_icon {
    position: relative;
    width: clamp(2rem, 5vw, 3rem);
    height: clamp(2rem, 5vw, 2.7rem);
    margin-top: 0.3rem;
}

.bottomnav_bookmark_icon {
    position: relative;
    width: clamp(1.2rem, 5vw, 2.3rem);
    height: clamp(2rem, 5vw, 3rem);
    padding-top: clamp(0.5rem, 2vw, 0.6rem);
}

.bottomnav_alarm_icon {
    position: relative;
    width: clamp(2.7rem, 5vw, 4.5rem);
    height: clamp(2.5rem, 5vw, 3.5rem);
}

.bottomnav_calendar_icon {
    position: relative;
    width: clamp(1.7rem, 5vw, 3rem);
    height: clamp(2rem, 5vw, 3.2rem);
    padding-top: clamp(0.1rem, 2vw, 0.5rem);
}


.active_text {
    color: #333333;
}