.App {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.calendar_head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1.3rem 0rem;
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.calendar_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
}

.calendar_body_box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 5px;
}

.calendar_body_head {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.calendar_body_line {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #d9d9d9;
  flex: 1;
}

.calendar_body_days_box {
  display: flex;
  justify-content: center;
}

.calendar_body_days {
  background: #fff;
  height: 100%;
  position: relative;
  row-gap: 1px;
  padding-top: 4px;
}

.today {
  background: #000;
  color: #fff;
  border-radius: 8px;
  padding: 2px 6px;
  display: inline-block;
  line-height: 1;
  height: 10px;
}
.otherMonth {
  color: #9aa0a6;
}
