.App {
  min-height: 100vh;          
  display: flex;
  flex-direction: column;
}

.calendar_head {
  position: fixed; 
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff; 
}

.calendar_month {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.calendar_day_kr{
  display: flex;
  font-weight: bold;
  padding: 0.2rem 0;
  flex-direction: column;
  flex: 1;
}

.calendar_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  padding-bottom: clamp(3.4rem, 7vw, 5rem);
  overflow-y: auto;
  padding-top: clamp(4.85rem, 8vw, 6.5rem); 
}

.calendar_body_box {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.calendar_body_line {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #d9d9d9;
  flex: 1;
  align-items: start;     
}                 

.calendar_body_days {
  background: #fff;
  position: relative;
  row-gap: 0.0625rem;
  min-height: clamp(4.5rem, 10vw, 7.5rem);
  height: auto;
  padding-top: clamp(0.1rem, 2vw, 0.4rem); 
  padding-left: clamp(0.1rem, 2vw, 0.7rem);
}

.today {
  background: #000; color: #fff;
  border-radius: 8px; padding: 2px 6px;
  display: inline-block; line-height: 1;
}

.calendar_event {
  margin: 5px 0 5px 0; 
  display: grid; 
  gap:5px;
}
