.home_content_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.home_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-height: 0;
}

.loading,
.no_notice {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: #555;
}
/* _________________________________________________________________________- */

.home_notice {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.home_notice_info {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.home_notice_upload_info {
  color: #5e5e5e;
  font-size: 11px;
}

.home_notice_text {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin: 2px 0 0 0;
}

.home_notice_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 11px 21px 11px 21px;
}

.home_notice_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.home_notice_title {
  color: black;
  font-size: 13px;
  margin: 0 0 5px 0;
  font-weight: 530;
  margin-bottom: 5px;
}

.home_notice_detail {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 세로 2줄 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 13px;
  color: #000;
  font-weight: 375;
  line-height: 1.3;

  width: 100%; /* 부모 영역 기준 폭 제한 */
  max-width: 100%; /* 혹시 부모보다 커지는 걸 방지 */
}

.selection_circle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.home_notice_hr {
  border: none;
  border-top: 1px solid #242424;
  transform: scaleY(0.3);
}
.read {
  color: #5e5e5e !important;
}

/* NoticeItem 스타일 */
.home_notice_cursor {
  cursor: pointer;
}

.home_notice_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.home_notice_content_padding_bookmark {
  padding-right: 35px;
}

.home_notice_content_padding_normal {
  padding-right: 21px;
}

.category_badge {
  width: 28px;
  height: 17px;
  border-radius: 4px;
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.bookmark_delete_wrapper {
  width: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}
