.home_notice > *:not(.home_notice_hr) {
  transform: scale(0.9);
}

/* _________________________________________________________________________- */
.home_content_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding-top: 42px;
  padding-bottom: 93px;
}

.home_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.loading,
.no_notice {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: #555;
}
/* _________________________________________________________________________- */

.home_notice {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
}

.home_notice_info {
  display: flex;
  flex-direction: row;
}

.home_notice_upload_info {
  color: #5e5e5e;
  font-size: 12px;
}

.home_notice_text {
  width: 337px;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin: 2px 0 0 0;
}

.home_notice_title {
  color: black;
  font-size: 17px;
  margin: 0 0 5px 0;
}

.home_notice_detail {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* 표준 속성 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #000;
  font-weight: 340;
}

.selection_circle {
  position: absolute;
  right: -7px;
  top: 20px;
}

.home_notic_bookmark {
  position: absolute;
  right: 12px;
  top: 22px;
}

.home_notic_bookmark_btn {
  background: none;
  border: none;
  cursor: none;
}

.home_notice_hr {
  border: none;
  border-top: 1px solid #242424;
  transform: scaleY(0.3);
  margin-top: 5px;
}
.read {
  color: #5e5e5e !important;
}
/* _________________________________________________________________________- */
