.title_bookmark_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home_content_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding-top: 42px;
  padding-bottom: 93px;
}
.title_bookmark_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.home_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.loading,
.no_notice {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: #555;
}
/* _________________________________________________________________________- */

.home_notice {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.home_notice_info {
  display: flex;
  flex-direction: row;
}

.home_notice_upload_info {
  color: #5e5e5e;
  font-size: 12px;
}

.home_notice_text {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin: 2px 0 0 0;
}

.home_notice_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 13px 21px 13px 21px;
}

.home_notice_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4px;
  width: 100%;
}

.home_notice_title {
  color: black;
  font-size: 15px;
  margin: 0 0 5px 0;
  font-weight: 530;
}

.home_notice_detail {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 세로 2줄 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 15px;
  color: #000;
  font-weight: 320;

  width: 100%; /* 부모 영역 기준 폭 제한 */
  max-width: 100%; /* 혹시 부모보다 커지는 걸 방지 */
  word-break: break-word; /* 긴 단어/URL 줄바꿈 */
}

.selection_circle {
  position: absolute;
  right: -7px;
  top: 20px;
}

.home_notic_bookmark {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: -16px;
}

.home_notic_bookmark_btn {
  background: none;
  border: none;
  cursor: none;
}

.home_notice_hr {
  border: none;
  border-top: 1px solid #242424;
  transform: scaleY(0.3);
}
.read {
  color: #5e5e5e !important;
}
